

    
<div class="container my-5">
    <div class="row">
        <div class="col-md-8">
            <div class="student_Add_button">
                <a class="btn btn-primary" href="/student">Back</a>
                <br>
                <br>
            </div>
            <div class="card">
                <div class="card-body">
                   

                    <img style="height: 300px; width:400px; object-fit:cover; " src="/assets/upload/<%= singleData.photo %> " alt="">
                    <br>
                    <h1><%= singleData.name %></h1>
                    <h1><%= singleData.email %></h1>
                    <h1><%= singleData.cell %></h1>
             
                </div>
            </div>
        </div>
    </div>
</div>
